@import "../../css/variables";

.layout {
  background-color: $gray-3;
  width: 100%;
  position: absolute;
  &__children {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 40px;
    margin-top: 0;
    border-radius: 5px;
  }
}
