@import "../../css/variables";

.spinner {
  border: 4px solid rgba(255, 255, 255, 1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-left-color: $blue-1;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
