@import "../../css/variables";

.productDetail {
  padding: 30px;
  display: flex;
  grid-column-start: 2;
  grid-column-end: 12;
  background: $white;
  flex-direction: column;
  @media (min-width: $breakpoint-md) {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  & figure {
    & img {
      height: 300px;
      width: 100%;
      object-fit: contain;
      @media (min-width: $breakpoint-md) {
        height: 680px;
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    &__conditionText {
      font-size: 10px;
      font-weight: 300;
      margin-bottom: 16px;
      @media (min-width: $breakpoint-md) {
        font-size: 14px;
      }
    }
    &__title {
      margin: 8px 0;
      font-size: 18px;
      font-weight: 500;
      @media (min-width: $breakpoint-md) {
        font-size: 24px;
      }
    }
    &__cost {
      font-size: 32px;
      margin: 32px 0;
      font-weight: 500;
      @media (min-width: $breakpoint-md) {
        font-size: 46px;
      }
    }
  }
  &__ctndescription {
    display: flex;
    flex-direction: column;
    h2 {
      color: $black-1;
      padding: 16px 0;
      margin: 0px;
      font-weight: 500;
      font-size: 20px;
      @media (min-width: $breakpoint-md) {
        font-size: 28px;
      }
    }
    &__description {
      color: $gray-2;
      font-size: 16px;
      grid-column: 1/3;
      text-align: left;
      font-weight: 300;
    }
  }
}
