@import "../../css/variables";

.breadcrumb {
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 16px;
  margin-bottom: 32px;
  border-radius: 5px;
  &__list {
    display: flex;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 12;
  }
  &__item {
    list-style: none;
    margin-right: 25px;
  }
  &__button {
    border: none;
    color: $gray-2;
    position: relative;
    font-size: 16px;
    &::after {
      content: ">";
      position: absolute;
      margin-left: 8px;
      margin-right: 8px;
    }
  }
}
