//Colors
$yellow-1: #ffe600;
$black-1: #333333;
$gray-1: #666666;
$gray-2: #999999;
$gray-3: #eeeeee;
$blue-1: #3483fa;
$white: #fff;

//Breakpoints
$breakpoint-sm: 600px;
$breakpoint-md: 900px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1440px;
