@import "../../css/variables";

.listProduct {
  grid-column-start: 2;
  grid-column-end: 12;
  width: 100%;
  &__result {
    list-style: none;
    text-align: center;
    font-size: 18px;
    color: $gray-1;
  }
}
