@import "../../css/variables";

.button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &.primary {
    background-color: $blue-1;
    width: 200px;
    border-radius: 5px;
    border: none;
    height: 30px;
    color: $white;
  }
  &.iconSearch {
    background: $gray-3;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    width: 40px;
  }
}
