@import "../../css/variables";

.product {
  display: flex;
  flex-direction: column;
  background-color: $white;
  cursor: pointer;
  padding: 16px;
  position: relative;
  list-style: none;
  @media (min-width: $breakpoint-sm) {
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }
  &__image {
    height: 180px;
    width: 180px;
    border-radius: 4px;
    margin: auto;
    &:last-child {
      width: auto;
      height: fit-content;
      margin: 0 0 0 10px;
    }
    & img {
      width: 100%;
      height: 100%;
      margin-left: 0;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
      margin-left: 16px;
    }
    &__ctntext {
      display: flex;
      align-items: center;
      margin-bottom: 32px;
      p {
        font-size: 20px;
        margin-right: 10px;
      }
    }
    &__text {
      margin-top: 0px;
    }
  }
  &__city {
    margin: auto 0;
    font-size: 12px;
    @media (min-width: $breakpoint-sm) {
      margin: 16px 0 0 30px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 1px;
    background: $gray-3;
    left: 5%;
  }
  &:first-child::after {
    content: "";
    height: 0;
  }
}
