@import "../../css/variables";

.search {
  background-color: $yellow-1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 2;
  &__container {
    width: 90%;
    display: flex;
    @media (min-width: $breakpoint-md) {
      width: 80%;
    }
  }
  &__input {
    display: flex;
    width: 100%;
    margin-left: 20px;
    input {
      width: 100%;
      height: 40px;
      line-height: 18px;
      font-size: 18px;
      border: none;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      padding: 10px;
    }
  }
}
